name: Compile, test and check the docs

on:
  workflow_call: 

jobs:

  test:
    
    strategy:
      fail-fast: false
      matrix:
        include:
          - ghc: 8.8.1
            ghc-options: ""
            ignore-haddock: "true"
          - ghc: latest

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:

      - uses: nikita-volkov/build-and-test-cabal-package.github-action@v1
        with:
          ghc: ${{matrix.ghc}}
          ghc-options: ${{matrix.ghc-options}}
          ignore-haddock: ${{matrix.ignore-haddock}}
