name: Compile, test and check the docs

on:
  workflow_call: 

jobs:

  check-cabal:
    uses: nikita-volkov/haskell-hackage-lib-github-actions-workflows/.github/workflows/check-cabal.yaml@v4
    secrets: inherit

  generate-docs:
    uses: nikita-volkov/haskell-hackage-lib-github-actions-workflows/.github/workflows/generate-docs.yaml@v4
    secrets: inherit

  build-with-ghc-8-10:
    uses: nikita-volkov/haskell-hackage-lib-github-actions-workflows/.github/workflows/build.yaml@v4
    secrets: inherit
    with:
      ghc: "8.10"
      skip-doctest: true
      skip-benchmarks: true
      test-options: >
        --quickcheck-tests 10_000
  
  build-with-latest:
    uses: nikita-volkov/haskell-hackage-lib-github-actions-workflows/.github/workflows/build.yaml@v4
    secrets: inherit
    with:
      test-options: >
        --quickcheck-tests 10_000
