name: Compile, test and check the docs

on:
  push:
    branches:
      - master
  pull_request:

jobs:

  test:
    uses: nikita-volkov/haskell-hackage-lib-github-actions-workflows/.github/workflows/test-stage.yaml@v1.0.0
    secrets: inherit
